.container{
    position: relative;
}

.card{
    background-color: rgba(10, 35, 84, 0.7); /*Maniene opacidad sólo en el fondo*/
    border-radius: 100%;
    align-items: center; /*Centra el contenido*/
    color: #fff;
    width: 40em;
    height: 40em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 35%);
}

.card-header{
    background-color: transparent;
    border-bottom: transparent;
}
.imgLogo{
    width: 30em;
    margin-top: 30%;
}

.datos{
    color: #0A2354;
}