<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="example-toolbar">
    <img class="btnMenu" src="../../assets/logoFondo.png" (click)="snav.toggle()">
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" class=" color letra">
      <mat-nav-list class="mb-2">
        <a>Inicio</a>
      </mat-nav-list>
      <mat-nav-list class="mb-2">
        <a>Buscar</a>
      </mat-nav-list>
      <mat-nav-list class="mb-2">
        <a>Registradores</a>
      </mat-nav-list>
      <mat-nav-list class="mb-2">
        <a>Salir</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="contenidoSidenav letra">
      @if(prueba==1){
        <app-buscar></app-buscar>
      }
      @if(prueba==2){
        <app-resultados></app-resultados>
      }
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
